.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.all {
    background-color: black;
    color: white;
}

.card-body,
.card-title {
    margin: 10px 10px 10px 10px;
    padding-right: 20px;
}

.card {
    background-color: black;
    box-shadow: 0 0 10px #5B5754;
    margin-right: 20px;
    margin-bottom: 10px;
}

#brian {
    margin-left: 15px;
}

input {
    box-shadow: 0 0 10px #5B5754;
}

h1,
h3 {
    text-shadow: 0 0 10px #1F0F04;
}

h1 {
    font-family: 'Yeseva One', cursive;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Sawarabi Mincho', sans-serif;
}