<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Github Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" routerLink="user" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>About</a>
        </div>
    </div>
</nav>